[user]
	name = shaoying
	email = shylinux@icloud.com
[color]
	ui = always
[alias]
	s = status
	l = log --pretty=format:\"%C(4)%h %C(6)%an %C(2)%ar %C(3)%d %C(7)%s\" --graph
	b = branch
	r = remote
	m = merge
	t = tag
	i = commit
	o = checkout
	d = diff
	a = add
[receive]
	denyCurrentBranch = ignore
[core]
	editor = vim
